.navbar .nav {
  margin-top:30px;
}

ul.nav > li {
  width:110px;
}

ul.nav > li > a{
  color: #ffff01;
}

ul.nav > li {
  text-align: center;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: #ffff01; 
}

.navbar-inverse .brand {
    padding:2px;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
  color: #fff;
  background-color: transparent;
}

@media (min-width: 1200px) {
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
        width: 1000px;
    }
}

.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 1000px;
}

.carousel-inner  > .item > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainWrapper {
    padding:20px;
}